<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            SERVICES
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>{{#link-to "services"}}ALL{{/link-to}}</li>
            <li role="separator" class="divider"></li>
            <li>{{#link-to "automotive"}}AUTOMOTIVE{{/link-to}}</li>
            <li>{{#link-to "cosmetics"}}COSMETICS{{/link-to}}</li>
            <li>{{#link-to "delivery"}}DELIVERY{{/link-to}}</li>
            <li>{{#link-to "geek"}}GEEK{{/link-to}}</li>
            <li>{{#link-to "handiwork"}}HANDIWORK{{/link-to}}</li>
            <li>{{#link-to "housekeeping"}}HOUSEKEEPING{{/link-to}}</li>
            <li>{{#link-to "lawncare"}}LAWNCARE{{/link-to}}</li>
            <li>{{#link-to "petcare"}}PET CARE{{/link-to}}</li>
          </ul>
        </li>
        {{#if isAuthenticated}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            AUXES
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>{{#link-to "assists"}}ALL{{/link-to}}</li>
            <li role="separator" class="divider"></li>
            <li>{{#link-to "pending-assists"}}PENDING{{/link-to}}</li>
            <li>{{#link-to "completed-assists"}}COMPLETED{{/link-to}}</li>
          </ul>
        </li>
        <li>{{#link-to "users"}}USERS{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
