
{{#if model.service}}
  <h4>{{model.service}}</h4>
{{else}}
  <h4>Some Service</h4>
{{/if}}
<ul>
  <li>Requested On {{model.created_at}}</li>
  <li>Fullfilled: {{model.fulfilled}}</li>
</ul>

<p>{{update-assist update='updateAssist' assist=model}}</p>

<p><button {{action 'deleteAssist' model}}>Delete Assist</button></p>

<p>{{#link-to 'assists'}}Back{{/link-to}}</p>
