<div class="col-lg-3 col-md-4 col-sm-6">
  <h2>{{model.category}}</h2>
  <p>{{#link-to 'services'}}Back{{/link-to}}</p>
</div>

<div class="col-lg-9 col-md-8 col-sm-6 carousel">
  <div>
    <img class="img-fluid" src="http://placehold.it/800x400" alt="">
    <div>
      <h3>
        {{model.name}}
      </h3>
      <p>
        {{#if model.description}}
          {{model.description}}
        {{else}}
          Coming Soon!
        {{/if}}
      </p>
      {{request-service request='requestAssist' service=model}}
    </div>
  </div>
</div>
